.container {
    color:white;
    background-color: black;
}

.list {
    color:white;
    background-color: blue;
}

.list-items{
    color: red;
    background-color: black;
}

.list-item-link {
    color:red;

}