.navbar-primary {
    width: 100%;
    box-shadow: 1px 3px 5px #e7e7e7;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1;
    background-color: #3d8ccc;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    border-radius: 10px;
    max-width: 90px;
}

.list {
    padding: 20px 0px;
    list-style: none;
    display: flex;
    gap:20px;
}

.list-item {
    padding: 10px;
    font-size: large;
    text-decoration: none;
    border-radius: 10px;
    color:black;
}

.list-item:hover, .list-item_active {
    background-color: white;
    color: #000;
    transition: 0.5s; }