.container {
    display: flex;
    border-radius: 20px;
    border-style: solid;
    align-self: center;
    justify-content: center;

}
.detail{
    width: 50%;
}
.detail-img{
    margin: 40px;
    padding: 10px 0px;
    width: 80%;
}
.content{
    padding: 20px;
    width: 100%;
}

.text{
    padding: 20px;

}

.title {
    padding: 20px;

}